
html, body {
    height: 100%;
}

body {
    background-color: hsl(200, 100%, 95%);
    margin: 0;
}

#app {
    width: 400px;
    height: 380px;
    background-color: rgb(248,250,251);
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgb(200,200,200);
}

#board {
    padding: 10px;
    border-right: solid 1px hsl(0, 0%, 85%);
}

#side-panel {
    flex-grow: 2;
    display: block;
}

#next-block-board {
    margin: 40px auto 40px;
}

#start-panel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

#start-panel::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
}

#start-panel h1 {
    z-index: 1;
}

#score-panel {
    text-align: center;
    font-weight: bold;
    color: rgb(80,80,80);
    font-family: monospace;
}

.grid-row {
    display: flex;
}

.grid-cell {
    margin: 1px;
    width: 18px;
    height: 18px;
    background: hsl(0, 0%, 93%);
    border-radius: 3px;
}

.clearing {
    animation: clear 0.1s linear;
    position: relative;
    z-index: 0;
}

@keyframes clear {
    100% {
        filter: blur(12px);
        opacity: 0;
    }
}