<!DOCTYPE html>
<html>
  <head>
    <title>Tetris</title>
    <link href="css/plain.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <board :width="width" :height="height" :cell-size="cellSize"
        :clearing-lines="clearingLines"></board>
      <div id="side-panel">
        <next-block-board :cell-size="cellSize"></next-block-board>
        <score-panel :score="score"></score-panel>
      </div>
      <start-panel v-if="state !== 'falling' && state !== 'clearing'" :title="title"></start-panel>
    </div>
    <script type="module" src="js/plain.js"></script>
  </body>
</html>